{%extends "base.html"%}
{% load widget_tweaks %}
{% block content %}
<h4 class="display-6">Date weather</h4>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <div class='form-floating input-group' id='datetimepicker2'>
            {% render_field form.date type="text" id='date_time' readonly='true' required='true' class='form-control plaintext'  %}
            <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
            </span>
            <script type="text/javascript">
                const picker = new tempusDominus.TempusDominus(document.getElementById('datetimepicker2'), {
                    localization:
                    {
                        format: 'yyyy-MM-dd',
                        hourCycle: 'h24'
                    },
                    display:
                    {
                        buttons:
                        {
                            today: true
                        }
                    }
                });
            </script>
            <label for="date_time" class="form-label">Choose date</label>
        </div>
        {% if form.errors.date %}
            {%for error in form.errors.date %}
                <p class="form-label" style="color: red">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}
    </div>
    <button class="btn btn-outline-success">Search</button>
    <a class="btn btn-outline-danger" href="/weather">Cancel</a>
</form>
{% endblock %}