{% extends "base.html"%}
{% block title %}
Weather
{% endblock title %}
{% block content %}
{% if object_list.count > 0 %}
<h2 class="display-6">Weather page</h2>
    <table class="table align-middle table-bordered caption-top">
        <caption>List of city's temperature</caption>
        <thead>
            <th>Name</th>
            <th>Temperature</th>
            <th>Time</th>
            {% if request.user.is_authenticated %}
            <th>Actions</th>
            {% endif %}
        </thead>
        {% for weather in object_list %}
        <tr>
            <td>{{ weather.cities }}</td>
            {% if weather.value == 0 %}
            <td class="table-light">{{ weather.value }}&deg;C</td>
            {% elif weather.value < 0 %}
            <td class="table-primary">{{ weather.value }}&deg;C</td>
            {% elif weather.value < 10 %}
            <td class="table-info">+{{ weather.value }}&deg;C</td>
            {% elif weather.value < 15 %}
            <td class="table-success">+{{ weather.value }}&deg;C</td>
            {% elif weather.value < 20 %}
            <td class="table-warning">+{{ weather.value }}&deg;C</td>
            {% else %}
            <td class="table-danger">+{{ weather.value }}&deg;C</td>
            {% endif %}
            <td>{{ weather.date }}</td>
            {% if request.user.is_authenticated %}
            <td>
                <a class = "btn btn-outline-warning" href="edit/{{weather.id}}">Edit</a> |
                <a class = "btn btn-outline-danger" href="delete/{{weather.id}}">Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            <li class="page-item">
                <a class="page-link">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" >next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <div class="mb-3">
        <p class="display-4">Nothing to show</p>
        <p class="display-6">If you want to see all records - press "Show all"</p>
        <a href="/weather" class="btn btn-outline-success">Show all</a>
    </div>
    {% endif %}

{% if request.user.is_authenticated %}
<div class="mb-3">
    <a class = "btn btn-outline-success" href="create/">Add</a>
</div>
{% endif %}
{% endblock content %}
